<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{% block title %}Conescy Test Page{% endblock %}</title>
    
    <style type="text/css" media="screen">
        {% include "style.css" %}
    </style>
    
</head>

<body>
    <div id="header">
        <h1><a href="/">Conescy Test Page</a></h1>
        <ul id="navi"> {% load navi %}
            <li><a{% active_page request "^/$" " class='current'" %}{% active_page request "^/blog/" " class='current'" %} href="{% url blog-home %}">Blog</a></li>
            <li><a{% active_page request "^/wiki/" " class='current'" %} href="{% url wiki-home %}">Wiki</a></li>
            <li><a href="{% url stats-home %}">Statz</a></li>
            <li><a href="/admin/">Admin</a></li>
            <li><a href="{% url rosetta-home %}">Rosetta</a></li>
        </ul>
        <br style="clear: both"/>
    </div>
    
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    
    <div id="footer">
        <p>
            Powered by <a href="http://conescy.org/">Conescy!</a> and <a href="http://flabs.org/">Design!</a>
            {% block footer %}{% endblock %}
        </p>
    </div>
</body>

</html>