{% load comments_tags %} {% load i18n %}

<h3>{% comments_count ref_app ref_id %} {% trans "Comments" %}</h3>
<div id="comments">
{% for comment in comments %}
    <div class="comment" id="comment{{ comment.id }}">
        <p><a href="{{ comment.url }}" class="black">{{ comment.get_author_name }}</a> 
        ({% blocktrans %}{{ comment.date|date:"d. M Y" }} at {{ comment.date|date:"H:i" }}{% endblocktrans %}
        {% if user.is_authenticated %}{% ifequal user.id comment.username %} <a href="{% url comments-delete comment.id %}" class="commentdelete" id="commentdelete{{ comment.id }}" title="delete">d</a>{% endifequal %}{% endif %})
        </p>
            {{ comment.content|safe }}
    </div>
{% endfor %}
</div>

<h3 id="reply">{% trans "Write a Comment" %}</h3>
<form action="{% url comments-save %}" method="post" accept-charset="utf-8">
{% if user.is_authenticated %}
    <p>{% trans "Logged in as" %} {{ user.username }}</p>
    <input type="hidden" name="username" value="{{ user.id }}" id="username" />
{% else %}
    <p><input type="text" name="eins" value="{{ cookies.name }}" id="eins" /> {% trans "Your Name" %}</p>
    <p><input type="text" name="zwei" value="{{ cookies.mail }}" id="zwei" /> {% trans "EMail (wont be published!)" %}</p>
    <p><input type="text" name="drei" value="{{ cookies.url }}" id="drei" /> {% trans "Website" %}</p>
{% endif %}
    
    <input type="hidden" name="ref" value="{{ ref }}" id="ref" />
    <input type="text" name="author" value="" id="author" style="display: none;" />
        <em style="display:none;">{% trans "Spam-Protection!" %}</em>
    
    <textarea name="content" rows="8" cols="60"></textarea>
    
    <p><input type="submit" value="{% trans 'Submit' %} &rarr;" /></p>
</form>
