{% extends "base.html" %} {% load i18n %}

{% block content %}

    <h2>{% trans "All Wiki Pages" %}</h2>
    <ul id="pagelist">
{% for object in object_list %}
        <li>
            <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
            <small><em> - <a href="{% url wiki-edit object.name %}">{% trans "Edit this page" %}</a> - <a href="{% url wiki-revs object.name %}">{% trans "Versions" %}</a></em></small>
        </li>
{% endfor %}
    </ul>

{% include "pagination.html" %}

{% endblock %}