{% extends "base.html" %} {% load i18n %}

{% block content %}
    <div class="entry" id="wikipagecontent">
        <h2><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h2>
            {% include "wiki/page_content.html" %}
        <p class="meta"><a href="{% url wiki-edit object.name %}">{% trans "Edit this page" %}</a> - <a href="{% url wiki-revs object.name %}">{% trans "Versions" %}</a> - <a href="{% url wiki-home %}">{% trans "Start" %}</a> - <a href="{% url wiki-toc %}">{% trans "All Pages" %}</a></p>
    </div>
{% endblock %}